@charset "UTF-8";
/* CSS Document */

div.navbar{background-color: white;
			border: none;}

#fila_4{padding-bottom:20px;
		padding-top:20px;}

img.logo{width:300px;}

img.portada{width:100%;
			padding-top:5px;
			padding-bottom:10px;}

img.noticia{width:100%;
			max-width:500px;}
img.agenda{width:100%;
			max-width:200px;}
img.transparencia{width:100%;
			max-width:200px;}
img.institutos{width:100%;
			max-width:200px;}
img.inversion{width:100%;
			max-width:200px;}
img.convocatorias{width:100%;
			max-width:200px;}
img.universidad{width:100%;
			max-width:200px;}
img.ciencia{width:100%;
			max-width:200px;}
img.congresos{width:100%;
			max-width:200px;}
img.calendario{width:100%;
			max-width:200px;}

img.fila_6{width:100%;
			padding-top:10px;
			padding-bottom:10px;}